/* Font declarations for VL ZOLINA and VL Outfit */

@font-face {
  font-family: 'VL ZOLINA';
  src: url('./fonts/VL ZOLINA-MEDIUM.TTF') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VL ZOLINA';
  src: url('./fonts/VL ZOLINA-BLACK.TTF') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VL ZOLINA';
  src: url('./fonts/VL ZOLINA-EXTRALIGHT.TTF') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VL Outfit';
  src: url('./fonts/VL Outfit-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VL Outfit';
  src: url('./fonts/VL Outfit-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'VL Outfit';
  src: url('./fonts/VL Outfit-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VL Outfit';
  src: url('./fonts/VL Outfit-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VL Outfit';
  src: url('./fonts/VL Outfit-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VL Outfit';
  src: url('./fonts/VL Outfit-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VL Outfit';
  src: url('./fonts/VL Outfit-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VL Outfit';
  src: url('./fonts/VL Outfit-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
